<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
      
Hi, I'm Renata Toleugazina, a student at Seneca College in the Software Development Program. 
I love sports like soccer and basketball, and enjoy watching movies and UFC. My goal after graduating is to work in web development 
for a leading company. I enjoy designing attractive webpages and am excited to learn new skills in my web programming course to create outstanding websites.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned.</p>
    </aside>
  </div>
</div>